@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Nunito+Sans&family=Poppins:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #2f1893;
  height: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.header nav {
  flex-basis: 100%;
  display: flex;
  padding: 0 2rem;
}

.header nav ul.nav-header {
  display: flex;
  gap: 3rem;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.header nav a.logo {
  margin-right: auto;
}

.header nav ul.nav-header a {
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.header nav a.logo {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

.header nav ul li a:hover {
  color: #fff;
}

.header .shop::after {
  content: '';
  display: inline-block;
  position: relative;
  right: -8px;
  width: 13px;
  height: 8px;
  transform: rotate(-180deg);
  transition: 0.2s ease;
  background: url('./img/arrow.svg') no-repeat;
}

.header .shop.active {
  color: #fff;
}

.header .shop.active::after {
  transform: rotate(0);
}

.header nav ul.nav-header .contact {
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 18px;
  border: 1px solid #fff;
  transition: 0.1s;
}

.header nav .contact:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.header nav ul li:last-child a.faq {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
}

.menu-mobile {
  display: none;
}

/* shopwrapper */

.shopwrapper {
  background-color: #2f1893;
  position: absolute;
  width: 100%;
  top: 6rem;
  left: 0;
  display: none;
}

.shopwrapper.active {
  animation: showTop 0.5s forwards;
  display: block;
}

.shopwrapper-grid {
  display: grid;
  padding: 2rem;
  gap: 3.375rem;
  grid-template-columns: auto auto;
}

@keyframes showTop {
  0% {
    top: 5rem;
    opacity: 0;
  }
  25% {
    top: 5.25;
    opacity: 0.25;
  }
  50% {
    top: 5.5rem;
    opacity: 0.5;
  }
  75% {
    top: 5.75rem;
    opacity: 0.75;
  }
  100% {
    top: 6rem;
    opacity: 1;
  }
}

.categories {
  grid-column: 1/2;
  grid-row: 1;
}

.categories ul.nav-categories {
  display: flex;
  flex-flow: column wrap;
  gap: 1.2rem;
}

.categories h2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

ul.nav-categories {
  margin-top: 1rem;
  margin-left: -1rem;
}

ul.nav-categories li a {
  padding: 0.5rem 1rem;
}

ul.nav-categories li a:hover {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}

/* Content */

.content {
  display: grid;
  gap: 3.375rem;
  grid-template-columns: auto auto;
}

.slide {
  grid-column: 1/2;
}

.slide figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.slide figure img {
  grid-column: 1/2;
  grid-row: 1;
}

.slide figure figcaption {
  padding: 2rem;
  grid-column: 1/2;
  grid-row: 1;
}

.slide figure figcaption h2 {
  max-width: 20rem;
  margin-bottom: 1rem;
  color: #1e0e62;
}

.slide figure figcaption p {
  margin-left: 1rem;
  max-width: 10rem;
  color: #2f1893;
}

.shopwrapper-grid .ad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  text-align: center;
  justify-items: center;
}

.shopwrapper-grid .ad img {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
}

.shopwrapper-grid .ad figcaption h2 {
  max-width: 18rem;
  color: #1e0e62;
}

.shopwrapper-grid .ad figcaption a.discount {
  border-radius: 20rem;
  background-color: #482be7;
  color: #fff;
  cursor: pointer;
  padding: 0.875rem 1.5rem;
  max-width: 12rem;
}

.shopwrapper-grid .ad figcaption {
  padding: 1rem;
  grid-column: 1/2;
  grid-row: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.content div:nth-child(2) {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.content div:nth-child(2) figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.content div:nth-child(2) h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Tablet */

@media (max-width: 1200px) {
  .content {
    grid-template-columns: 1fr;
  }
  .slide {
    grid-column: 1/2;
  }
  .shopwrapper-grid .ad {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .content div:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .shopwrapper-grid .ad img {
    height: auto;
  }
  .header nav ul.nav-header {
    gap: 0.5rem;
  }
}

/* Mobile */

@media (max-width: 770px) {
  .shopwrapper-grid {
    grid-template-columns: minmax(20rem, 1fr);
    padding: 0.5rem;
  }
  .slide h2 {
    font-size: 1rem;
  }
  .slide p {
    font-size: 0.875rem;
  }
  .content div:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .categories {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: -6rem;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.2s ease;
  }

  .categories.active {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
  }

  .categories div {
    position: relative;
    animation: showFromTop 0.2s forwards;
  }

  @keyframes showFromTop {
    from {
      top: -5px;
    }
    to {
      top: 0;
    }
  }

  .categories ul.nav-categories a {
    display: block;
  }

  ul.nav-categories {
    margin-left: 0;
  }

  .header nav.container {
    padding: 0.5rem;
  }
  .shopwrapper {
    display: grid;
  }
  .header nav ul.nav-header {
    display: none;
  }
  .menu-mobile {
    z-index: 1001;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
    border-radius: 5px;
  }

  .menu-mobile.active::after {
    transform: rotate(90deg);
  }

  .menu-mobile::after {
    transition: 0.2s ease;
    content: '';
    display: block;
    width: 1.2rem;
    border-radius: 3px;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 7px 0 0 #fff, 0 -7px 0 0 #fff;
  }
}
