@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Nunito+Sans&family=Poppins:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  background-color: #2f1893;
  display: flex;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.header nav {
  padding: 0 2rem;
  flex-basis: 100%;
}

.header nav ul.nav-header {
  display: flex;
  gap: 3rem;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.header nav ul li.logo:first-child {
  margin-right: auto;
}

.header nav ul.nav-header a {
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.header .nav-header .logo a {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}

.header nav ul li a:hover {
  color: #fff;
}

.header .shop::after {
  content: '';
  display: inline-block;
  position: relative;
  right: -8px;
  width: 13px;
  height: 8px;
  transform: rotate(-180deg);
  transition: 0.2s ease;
  background: url('./img/arrow.svg') no-repeat;
}

.header .shop.active {
  color: #fff;
}

.header .shop.active::after {
  transform: rotate(0);
}

.header nav ul.nav-header .contact {
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 18px;
  border: 1px solid #fff;
  transition: 0.1s;
}

.header nav .contact:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.header nav ul li:last-child a.faq {
  color: #fff;
}

/* shopwrapper */

.shopwrapper {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-color: #2f1893;
  display: none;
  gap: 3.375rem;
  grid-template-columns: auto auto;
}

.shopwrapper.active {
  animation: showTop 0.5s forwards;
  display: grid;
}

@keyframes showTop {
  0% {
    top: 5rem;
    opacity: 0;
  }
  25% {
    top: 5.25;
    opacity: 0.25;
  }
  50% {
    top: 5.5rem;
    opacity: 0.5;
  }
  75% {
    top: 5.75rem;
    opacity: 0.75;
  }
  100% {
    top: 6rem;
    opacity: 1;
  }
}

.categories {
  grid-column: 1/2;
  grid-row: 1;
}

.categories ul.nav-categories {
  display: flex;
  flex-flow: column wrap;
  gap: 1.2rem;
}

.categories h2 {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

ul.nav-categories {
  margin-top: 1rem;
}

ul.nav-categories li a {
  padding: 0.5rem 1rem;
}

ul.nav-categories li a:hover {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
}

/* Content */

.content {
  display: grid;
  gap: 3.375rem;
  grid-template-columns: auto auto;
}

.slide {
  grid-column: 1/2;
}

.slide figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.slide figure img {
  grid-column: 1/2;
  grid-row: 1;
}

.slide figure figcaption {
  padding: 2rem;
  grid-column: 1/2;
  grid-row: 1;
}

.slide figure figcaption h2 {
  max-width: 20rem;
  margin-bottom: 1rem;
  color: #1e0e62;
}

.slide figure figcaption p {
  margin-left: 1rem;
  max-width: 10rem;
  color: #2f1893;
}

.shopwrapper .ad {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  text-align: center;
}

.shopwrapper .ad img {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1;
}

.shopwrapper .ad figcaption h2 {
  max-width: 18rem;
  color: #1e0e62;
}

.shopwrapper .ad figcaption a.discount {
  border-radius: 18px;
  background-color: #2f1893;
  color: #fff;
  cursor: pointer;
}

.shopwrapper .ad figcaption {
  grid-column: 1/2;
  grid-row: 1;
  justify-self: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.content div:nth-child(2) {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.content div:nth-child(2) h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
